<!DOCTYPE html>
  <html ng-app="store">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      
      <link rel="stylesheet" href="css/min.css"> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.4-build.3588/angular.js"></script>
      <script type="text/javascript" src="app.js"></script>
      <script src="./js/directives.js"></script>
    </head>
    <body ng-controller="StoreController as store">
      <!--Header application-->
      <header>
        <h1 class="text-center">Flatlander Crafted Gems</h1>
        <h2 class="text-center">-- an Angular Store --</h2>
      </header>

      <div class="list-group">
        <!--Product Container-->
        <div class="list-group-item" ng-repeat="product in store.products">
          <h3>{{product.name}} <em class="pull-right">{{product.price |  currency}}</em></h3>

          <!--Image gallery-->
          <product-gallery ng-show="product.images.length"></product-gallery>

          <product-tabs></product-tabs>

        </div>
      </div>
    </body>
  </html>